body { padding-bottom: 70px; }
.jumbotron{
  color: black;
  font-style: italic;
}
.blog-header {
  color: black;
}

.lead {
  color: grey;
}

.blog-post-title {
  color: black;
}

.blog-post-meta {
  color: #212121;
}

.about {
  color: mediumorchid;

}

.elsewhere {
  color: mediumorchid;
}
.list-unstyled {
  color: inherit;
}


/* header photo */

img.me {
  width: 200px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

img {
  vertical-align: right;
}
img {
  border: 0;
}

a {
  color: black;
  font-weight: 700;
}

.dateFormat {
  color: grey;
  font-size: smaller;
}
.elsewhere {
  padding-left: 10px;
  color: black;
  font-size: small;
  font-style: italic;
}
a:hover, a:focus {
  color: hotpink;
  text-decoration: none;
}

.fa {
  padding-left: 10px;
}

.blogImage {
  width: 100%;
  height: auto;
}

.header-picture {
  height: auto;
  float: right;
  width: 250px;
  padding: 10px 10px 20px 20px;
  border-radius: 50%;
}