.blog-title {
  color: darkorchid;
}

.blog-post {
  color: lightseagreen;
}

.blog-post-meta {
  color: teal;
}

.about {
  color: mediumorchid;
}

.sidebar-module {
  color: orchid;
}

.list-unstyled {
  color: darkorchid;
}

