.blog-header {
  color: mediumorchid;
}

.blog-post-title {
  color: darkorchid;
}

.blog-post-meta {
  color: mediumorchid;
}

.about {
  color: mediumorchid;

}

.elsewhere {
  color: mediumorchid;
}
.list-unstyled {
  color: inherit;
}


/* header photo */

img.me {
  width: 200px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

img {
  vertical-align: right;
}
img {
  border: 0;
}
