
<h2>About Me...</h2>
<h4>Hello!! I'm Gabby {{fa-icon "smile-o" size=1}} </h4> <p>I'm a college student majoring in Computer Science! I built this blog using Ember.js as part of an internship project! When I'm not doing homework or learning about all the awesome things code can do you can find me on my yoga mat ॐ  </p> <!--Check me out on<a href="http://github.com/gabzilla" target="_blank">
  {{fa-icon "github" size=1}}</a> and<a href="http://twitter.com/gabzillah" target="_blank">{{fa-icon "twitter" size=1}}</a>
</p> -->
