
<h2>About Me...</h2>
<h4>Hello!! I'm Gabby {{fa-icon "smile-o" size=1}} </h4> <p>I'm a college student majoring in Computer Science just trying to make the leap from textbooks to real life stuff. When I'm not trying to learn how to program I enjoy reading on the beach, listening to podcasts, and running around collecting pokemon!  </p> <!--Check me out on<a href="http://github.com/gabzilla" target="_blank">
  {{fa-icon "github" size=1}}</a> and<a href="http://twitter.com/gabzillah" target="_blank">{{fa-icon "twitter" size=1}}</a>
</p> -->
