
<h2>About Me...</h2>
<p>I'm just a code newbie trying to make the leap from tutorials to real life stuff. When I'm not trying to learn how to program I enjoy snowboarding, boga, and falling off my surfboard. If you want to read about my ramblings check out the blog entries to the left {{fa-icon "arrow-circle-left" size=1}}
</p>