<div class="jumbotron">
  <div class="container">
    <div class="blog-header"> 
      <h1 class="blog-title">Hello World!</h1>
      <!--<img class="me" src="Projects/gabzillaBlog/photo/photo1.jpg"> -->
      <p class="lead blog-description">This is a blog about my journey in learning how to program </p>
    </div>
  </div>
</div>

<div class="container">

  <div class="row">
   {{outlet}}
  </div>

</div>

<div class="container">
  <nav class="navbar navbar-default navbar-fixed-bottom"    id="bottom-nav">
    <h4 class="elsewhere">Find me on:</h4>
    <a href="http://github.com/gabzilla" target="_blank">
    {{fa-icon "github" size=2}}
    </a>
    <a href="http://twitter.com/gabzillah" target="_blank">{{fa-icon "twitter" size=2}}</a>
</nav>
</div>
