
<div class="col-sm-4" id="blogs">
  <ul>
    {{#each model as |item|}}
      <p class = "blog-titles">
        {{#link-to "blogs.blog" item.slug}}
          {{item.title}}
          <p class = "dateFormat">{{item.date}}</p>
        {{/link-to}}
        <!-- using helpers to link to blogs.blog and grabbing title and author -->
      </p>
    {{/each}}
  </ul>
</div>
<div class="col-sm-5 blog-main">
  {{outlet}}
</div>


