<ul>
  {{#each model as |item|}}
    <li>
        {{#link-to "blogs.blog" item.slug}}
        {{item.title}} by {{item.author}}
        {{/link-to}}
        <!-- using helpers to link to blogs.blog and grabbing title and author -->
    </li>
  {{/each}}
</ul>

<div class="col-sm-8 blog-main">
  {{outlet}}
</div>